<container>
    <row class="social-icons">
      <columns></columns>
        <columns small="3" large="3" valign="middle">
    <a href="#"><img src= "https://i.imgur.com/UwAZUec.png"></a>
</columns> 
<columns class="show-for-large" style="width: 1%" valign="middle"> 
  <span class="menu_divider">
  </span>
</columns>
<columns small="3" large="3" valign="middle">
    <a href="#"><img src= "https://i.imgur.com/XQHUoRw.png"></a>
</columns> 
<columns class="show-for-large" style="width: 1%" valign="middle"> 
  <span class="menu_divider">
  </span>
</columns>
<columns small="3" large="3" valign="middle">
    <a href="#"><img src= "https://i.imgur.com/wrNjoDB.png"></a>
</columns> 
<columns class="show-for-large" style="width: 1%" valign="middle"> 
  <span class="menu_divider">
  </span>
</columns>
<columns small="3" large="3" valign="middle">
  <a href="#"><img src= "https://i.imgur.com/SqTaFNv.png"></a>
</columns> 
</row>
<row class="footer-info">
    <columns>
<p>&#9400; 2020 Serif, Nottingham, United Kingdom</p>
  <p>Unsubscribe from this email or update your preferences</p>
        <p>If you would prefer to opt-out of all future emails, please<a href="#" class="click-here"> click here</a>
    </p>
    </columns> 
</row>
</container>


